In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

## File Install

In [1]:
#!pip install psycopg2-binary

In [2]:
#!pip install psycopg2

In [3]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [4]:
database_name = 'Prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:postgres@localhost:5433/{database_name}"

Now, we need to create an engine and use it to connect.

In [5]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [6]:
import pandas as pd

## Table Views

First, let's write a meaningful query.

In [7]:
cbsa_query = 'SELECT * FROM cbsa'
drug_query = 'SELECT * FROM drug'
fips_county_query = 'SELECT * FROM fips_county'
overdose_deaths_query = 'SELECT * FROM overdose_deaths'
population_query = 'SELECT * FROM population'
prescriber_query = 'SELECT * FROM prescriber'
prescription_query = 'SELECT * FROM prescription'
zip_fips_query = 'SELECT * FROM zip_fips'

Now, bring it all together using the following syntax.

In [8]:
with engine.connect() as connection:
    cbsa = pd.read_sql(text(cbsa_query), con = connection)

cbsa.head()

  fipscounty   cbsa                          cbsaname
0      01001  33860                    Montgomery, AL
1      01003  19300         Daphne-Fairhope-Foley, AL
2      01007  13820             Birmingham-Hoover, AL
3      01009  13820             Birmingham-Hoover, AL
4      01015  11500  Anniston-Oxford-Jacksonville, AL

In [9]:
with engine.connect() as connection:
    drug = pd.read_sql(text(drug_query), con = connection)

print(drug)

                           drug_name                    generic_name  \
0           1ST TIER UNIFINE PENTIPS            PEN NEEDLE, DIABETIC
1      1ST TIER UNIFINE PENTIPS PLUS            PEN NEEDLE, DIABETIC
2                           ABACAVIR                ABACAVIR SULFATE
3                ABACAVIR-LAMIVUDINE     ABACAVIR SULFATE/LAMIVUDINE
4     ABACAVIR-LAMIVUDINE-ZIDOVUDINE  ABACAVIR/LAMIVUDINE/ZIDOVUDINE
...                              ...                             ...
3420                         ZYPREXA                      OLANZAPINE
3421                ZYPREXA RELPREVV              OLANZAPINE PAMOATE
3422                   ZYPREXA ZYDIS                      OLANZAPINE
3423                          ZYTIGA             ABIRATERONE ACETATE
3424                           ZYVOX                       LINEZOLID

     opioid_drug_flag long_acting_opioid_drug_flag antibiotic_drug_flag  \
0                   N                            N                    N
1                   N                            N                    N
2                   N                            N                    N
3                   N                            N                    N
4                   N                            N                    N
...               ...                          ...                  ...
3420                N                            N                    N
3421                N                            N                    N
3422                N                            N                    N
3423                N                            N                    N
3424                N                            N                    Y

     antipsychotic_drug_flag
0                          N
1                          N
2                          N
3                          N
4                          N
...                      ...
3420                       Y
3421                       Y
3422                       Y
3423                       N
3424                       N

[3425 rows x 6 columns]

In [10]:
drug.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3425 entries, 0 to 3424
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   drug_name                     3425 non-null   object
 1   generic_name                  3425 non-null   object
 2   opioid_drug_flag              3425 non-null   object
 3   long_acting_opioid_drug_flag  3425 non-null   object
 4   antibiotic_drug_flag          3425 non-null   object
 5   antipsychotic_drug_flag       3425 non-null   object
dtypes: object(6)
memory usage: 160.7+ KB

In [11]:
with engine.connect() as connection:
    fips_county = pd.read_sql(text(fips_county_query), con = connection)

fips_county.head()

    county state fipscounty fipsstate
0  AUTAUGA    AL      01001        01
1  BALDWIN    AL      01003        01
2  BARBOUR    AL      01005        01
3     BIBB    AL      01007        01
4   BLOUNT    AL      01009        01

In [12]:
with engine.connect() as connection:
    overdose_deaths = pd.read_sql(text(overdose_deaths_query), con = connection)

overdose_deaths.head()

   overdose_deaths  year  fipscounty
0              135  2015       47157
1              150  2016       47157
2              159  2017       47157
3              123  2018       47157
4              122  2015       47093

In [13]:
with engine.connect() as connection:
    population = pd.read_sql(text(population_query), con = connection)

population.head()

  fipscounty  population
0      47017     28137.0
1      47023     17097.0
2      47039     11681.0
3      47037    678322.0
4      47087     11573.0

In [14]:
with engine.connect() as connection:
    prescriber = pd.read_sql(text(prescriber_query), con = connection)

prescriber.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

In [15]:
with engine.connect() as connection:
    prescription = pd.read_sql(text(prescription_query), con = connection)

prescription.head()

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1.427076e+09,RALOXIFENE HCL,NaN,18.0,28.0,840.0,1009.66,NaN,*,18.0,None,28.0,840.0,1009.66
1,1.003858e+09,GLIMEPIRIDE,NaN,12.0,16.0,480.0,270.86,NaN,*,NaN,*,NaN,NaN,NaN
2,1.184627e+09,TAMSULOSIN HCL,NaN,14.0,24.0,698.0,353.62,NaN,#,NaN,#,NaN,NaN,NaN
3,1.306111e+09,SPIRIVA,NaN,13.0,13.0,390.0,4783.28,NaN,*,NaN,*,NaN,NaN,NaN
4,1.285658e+09,SPIRIVA,NaN,13.0,13.0,390.0,4855.95,NaN,#,NaN,#,NaN,NaN,NaN

In [16]:
with engine.connect() as connection:
    zip_fips = pd.read_sql(text(zip_fips_query), con = connection)

zip_fips.head()

     zip fipscounty  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  00501      36103   0.000000    1.00000   0.000000   1.000000
1  00601      72113   0.160724    0.20098   0.128834   0.162500
2  00601      72001   0.839276    0.79902   0.871166   0.837500
3  00602      72003   1.000000    0.99880   1.000000   0.999919
4  00602      72005   0.000000    0.00120   0.000000   0.000081

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python

## Q3: Who are the top opioid prescibers for the state of Tennessee?

### Simplified tables

In [17]:
opioid_flag_long = drug["long_acting_opioid_drug_flag"]
opioid_flag = drug["opioid_drug_flag"]
drug_opioid = drug[(opioid_flag_long == "Y") | (opioid_flag == "Y")]
drug_opioid = drug_opioid.drop(columns = ['antibiotic_drug_flag', 'antipsychotic_drug_flag'], axis = 1)
drug_opioid.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag
10,ABSTRAL,FENTANYL CITRATE,Y,N
18,ACETAMIN-CAFF-DIHYDROCODEINE,ACETAMINOPHEN/CAFF/DIHYDROCOD,Y,N
19,ACETAMINOPHEN-CODEINE,ACETAMINOPHEN WITH CODEINE,Y,N
33,ACTIQ,FENTANYL CITRATE,Y,N
212,ARYMO ER,MORPHINE SULFATE,Y,Y

In [18]:
drug_brand_name = drug_opioid.drop(columns = ['generic_name', 'opioid_drug_flag', 'long_acting_opioid_drug_flag'], axis = 1)
drug_brand_name.head()

                        drug_name
10                        ABSTRAL
18   ACETAMIN-CAFF-DIHYDROCODEINE
19          ACETAMINOPHEN-CODEINE
33                          ACTIQ
212                      ARYMO ER

In [19]:
drug_generic_name = drug_opioid.drop(columns = ['drug_name', 'opioid_drug_flag', 'long_acting_opioid_drug_flag'], axis = 1)
drug_generic_name = drug_generic_name.rename(columns={'generic_name': 'drug_name'})
drug_generic_name.head()

                         drug_name
10                FENTANYL CITRATE
18   ACETAMINOPHEN/CAFF/DIHYDROCOD
19      ACETAMINOPHEN WITH CODEINE
33                FENTANYL CITRATE
212               MORPHINE SULFATE

**Drug table with generic and brand names combined -**

In [20]:
drug_names_combined = pd.concat([drug_brand_name, drug_generic_name], ignore_index=True, axis=0)
drug_names_combined.head()

                      drug_name
0                       ABSTRAL
1  ACETAMIN-CAFF-DIHYDROCODEINE
2         ACETAMINOPHEN-CODEINE
3                         ACTIQ
4                      ARYMO ER

**Prescription table -**

In [21]:
prescription_drug_count = prescription.drop(columns = ['bene_count', 'total_30_day_fill_count', 'total_day_supply', 'total_drug_cost', 'bene_count_ge65', 'bene_count_ge65_suppress_flag', 'total_claim_count_ge65', 'ge65_suppress_flag', 'total_30_day_fill_count_ge65', 'total_day_supply_ge65', 'total_drug_cost_ge65'], axis = 1)
prescription_drug_count.head()

            npi       drug_name  total_claim_count
0  1.427076e+09  RALOXIFENE HCL               18.0
1  1.003858e+09     GLIMEPIRIDE               12.0
2  1.184627e+09  TAMSULOSIN HCL               14.0
3  1.306111e+09         SPIRIVA               13.0
4  1.285658e+09         SPIRIVA               13.0

**Prescriber table -**

In [22]:
prescriber["nppes_provider_state"].unique()

array(['TN'], dtype=object)

In [23]:
prescriber_name = prescriber[['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name', 'nppes_provider_mi', 'nppes_credentials']]
prescriber_name.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP
1,1.003012e+09,CUDZILO,COREY,None,M.D.
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.
3,1.003014e+09,OTTO,ROBERT,J,M.D.
4,1.003018e+09,TODD,JOSHUA,W,M.D.

### Merges

In [24]:
drug_prescription_merge = pd.merge(drug_names_combined, prescription_drug_count, on='drug_name', how='left')
drug_prescription_merge.head()

                      drug_name           npi  total_claim_count
0                       ABSTRAL           NaN                NaN
1  ACETAMIN-CAFF-DIHYDROCODEINE  1.669734e+09               12.0
2  ACETAMIN-CAFF-DIHYDROCODEINE  1.841667e+09               11.0
3  ACETAMIN-CAFF-DIHYDROCODEINE  1.225125e+09               11.0
4         ACETAMINOPHEN-CODEINE  1.942530e+09               92.0

In [25]:
npi_count = drug_prescription_merge.drop(['drug_name'], axis = 1)
npi_count = npi_count.groupby('npi', as_index=False).sum()
npi_count.head()

            npi  total_claim_count
0  1.003013e+09              746.0
1  1.003014e+09              150.0
2  1.003031e+09               88.0
3  1.003035e+09              910.0
4  1.003042e+09              240.0

### Answer

In [26]:
prescriber_count = pd.merge(npi_count, prescriber_name, on='npi', how='left')
prescriber_count = prescriber_count.sort_values(by=['total_claim_count'], ascending=False)
prescriber_count.head()

,npi,total_claim_count,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials
10145,1.912012e+09,32505.0,COFFEY,DAVID,B,MD
5029,1.447608e+09,22943.0,CATHERS,SHARON,None,NP-C
10024,1.891915e+09,22248.0,KINDRICK,JUSTIN,None,N.P.
9711,1.861892e+09,19973.0,TAYLOR,ALICIA,N,"PA-C, MPAS"
3879,1.346389e+09,18460.0,ORUSA,SAMSON,K,M.D