In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

## File Install

In [1]:
#!pip install psycopg2-binary

In [2]:
#!pip install psycopg2

In [3]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [4]:
database_name = 'Prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:postgres@localhost:5433/{database_name}"

Now, we need to create an engine and use it to connect.

In [5]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [6]:
import pandas as pd
import numpy as np

## Table Views

First, let's write a meaningful query.

In [7]:
cbsa_query = 'SELECT * FROM cbsa'
drug_query = 'SELECT * FROM drug'
fips_county_query = 'SELECT * FROM fips_county'
overdose_deaths_query = 'SELECT * FROM overdose_deaths'
population_query = 'SELECT * FROM population'
prescriber_query = 'SELECT * FROM prescriber'
prescription_query = 'SELECT * FROM prescription'
zip_fips_query = 'SELECT * FROM zip_fips'

Now, bring it all together using the following syntax.

In [8]:
with engine.connect() as connection:
    cbsa = pd.read_sql(text(cbsa_query), con = connection)

cbsa.head()

  fipscounty   cbsa                          cbsaname
0      01001  33860                    Montgomery, AL
1      01003  19300         Daphne-Fairhope-Foley, AL
2      01007  13820             Birmingham-Hoover, AL
3      01009  13820             Birmingham-Hoover, AL
4      01015  11500  Anniston-Oxford-Jacksonville, AL

In [9]:
with engine.connect() as connection:
    drug = pd.read_sql(text(drug_query), con = connection)

drug.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1ST TIER UNIFINE PENTIPS,"PEN NEEDLE, DIABETIC",N,N,N,N
1,1ST TIER UNIFINE PENTIPS PLUS,"PEN NEEDLE, DIABETIC",N,N,N,N
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N
3,ABACAVIR-LAMIVUDINE,ABACAVIR SULFATE/LAMIVUDINE,N,N,N,N
4,ABACAVIR-LAMIVUDINE-ZIDOVUDINE,ABACAVIR/LAMIVUDINE/ZIDOVUDINE,N,N,N,N

In [10]:
with engine.connect() as connection:
    fips_county = pd.read_sql(text(fips_county_query), con = connection)

fips_county.head()

    county state fipscounty fipsstate
0  AUTAUGA    AL      01001        01
1  BALDWIN    AL      01003        01
2  BARBOUR    AL      01005        01
3     BIBB    AL      01007        01
4   BLOUNT    AL      01009        01

In [11]:
with engine.connect() as connection:
    overdose_deaths = pd.read_sql(text(overdose_deaths_query), con = connection)

overdose_deaths.head()

   overdose_deaths  year  fipscounty
0              135  2015       47157
1              150  2016       47157
2              159  2017       47157
3              123  2018       47157
4              122  2015       47093

In [12]:
overdose_deaths['year'].unique()

array([2015, 2016, 2017, 2018], dtype=int64)

In [13]:
with engine.connect() as connection:
    population = pd.read_sql(text(population_query), con = connection)

population.head()

  fipscounty  population
0      47017     28137.0
1      47023     17097.0
2      47039     11681.0
3      47037    678322.0
4      47087     11573.0

In [14]:
with engine.connect() as connection:
    prescriber = pd.read_sql(text(prescriber_query), con = connection)

prescriber.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

In [15]:
with engine.connect() as connection:
    prescription = pd.read_sql(text(prescription_query), con = connection)

prescription.head()

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1.427076e+09,RALOXIFENE HCL,NaN,18.0,28.0,840.0,1009.66,NaN,*,18.0,None,28.0,840.0,1009.66
1,1.003858e+09,GLIMEPIRIDE,NaN,12.0,16.0,480.0,270.86,NaN,*,NaN,*,NaN,NaN,NaN
2,1.184627e+09,TAMSULOSIN HCL,NaN,14.0,24.0,698.0,353.62,NaN,#,NaN,#,NaN,NaN,NaN
3,1.306111e+09,SPIRIVA,NaN,13.0,13.0,390.0,4783.28,NaN,*,NaN,*,NaN,NaN,NaN
4,1.285658e+09,SPIRIVA,NaN,13.0,13.0,390.0,4855.95,NaN,#,NaN,#,NaN,NaN,NaN

In [16]:
with engine.connect() as connection:
    zip_fips = pd.read_sql(text(zip_fips_query), con = connection)

zip_fips.head()

     zip fipscounty  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  00501      36103   0.000000    1.00000   0.000000   1.000000
1  00601      72113   0.160724    0.20098   0.128834   0.162500
2  00601      72001   0.839276    0.79902   0.871166   0.837500
3  00602      72003   1.000000    0.99880   1.000000   0.999919
4  00602      72005   0.000000    0.00120   0.000000   0.000081

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python

## Q2: Who are the top opioid prescibers for the state of Tennessee?

### Simplified tables

In [17]:
opioid_flag_long = drug["long_acting_opioid_drug_flag"]
opioid_flag = drug["opioid_drug_flag"]
drug_opioid = drug[(opioid_flag_long == "Y") | (opioid_flag == "Y")]
drug_opioid = drug_opioid.drop(columns = ['antibiotic_drug_flag', 'antipsychotic_drug_flag'], axis = 1)
drug_opioid.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag
10,ABSTRAL,FENTANYL CITRATE,Y,N
18,ACETAMIN-CAFF-DIHYDROCODEINE,ACETAMINOPHEN/CAFF/DIHYDROCOD,Y,N
19,ACETAMINOPHEN-CODEINE,ACETAMINOPHEN WITH CODEINE,Y,N
33,ACTIQ,FENTANYL CITRATE,Y,N
212,ARYMO ER,MORPHINE SULFATE,Y,Y

In [18]:
drug_brand_name = drug_opioid.drop(columns = ['generic_name', 'opioid_drug_flag', 'long_acting_opioid_drug_flag'], axis = 1)
drug_brand_name.head()

                        drug_name
10                        ABSTRAL
18   ACETAMIN-CAFF-DIHYDROCODEINE
19          ACETAMINOPHEN-CODEINE
33                          ACTIQ
212                      ARYMO ER

In [19]:
drug_generic_name = drug_opioid.drop(columns = ['drug_name', 'opioid_drug_flag', 'long_acting_opioid_drug_flag'], axis = 1)
drug_generic_name = drug_generic_name.rename(columns={'generic_name': 'drug_name'})
drug_generic_name.head()

                         drug_name
10                FENTANYL CITRATE
18   ACETAMINOPHEN/CAFF/DIHYDROCOD
19      ACETAMINOPHEN WITH CODEINE
33                FENTANYL CITRATE
212               MORPHINE SULFATE

**Drug table with generic and brand names combined -**

In [20]:
drug_names_combined = pd.concat([drug_brand_name, drug_generic_name], ignore_index=True, axis=0)
drug_names_combined.head()

                      drug_name
0                       ABSTRAL
1  ACETAMIN-CAFF-DIHYDROCODEINE
2         ACETAMINOPHEN-CODEINE
3                         ACTIQ
4                      ARYMO ER

In [61]:
drug_names_combined_unique = drug_names_combined.drop_duplicates(subset=['drug_name'])
drug_names_combined_unique.head()

                      drug_name
0                       ABSTRAL
1  ACETAMIN-CAFF-DIHYDROCODEINE
2         ACETAMINOPHEN-CODEINE
3                         ACTIQ
4                      ARYMO ER

**Prescription table -**

In [23]:
prescription_drug_count = prescription.drop(columns = ['bene_count', 'total_30_day_fill_count', 'total_day_supply', 'total_drug_cost', 'bene_count_ge65', 'bene_count_ge65_suppress_flag', 'total_claim_count_ge65', 'ge65_suppress_flag', 'total_30_day_fill_count_ge65', 'total_day_supply_ge65', 'total_drug_cost_ge65'], axis = 1)
prescription_drug_count.head()

            npi       drug_name  total_claim_count
0  1.427076e+09  RALOXIFENE HCL               18.0
1  1.003858e+09     GLIMEPIRIDE               12.0
2  1.184627e+09  TAMSULOSIN HCL               14.0
3  1.306111e+09         SPIRIVA               13.0
4  1.285658e+09         SPIRIVA               13.0

**Prescriber table -**

In [24]:
prescriber["nppes_provider_state"].unique()

array(['TN'], dtype=object)

In [25]:
prescriber_name = prescriber[['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name', 'nppes_provider_mi', 'nppes_credentials']]
prescriber_name.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP
1,1.003012e+09,CUDZILO,COREY,None,M.D.
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.
3,1.003014e+09,OTTO,ROBERT,J,M.D.
4,1.003018e+09,TODD,JOSHUA,W,M.D.

### Merges

In [26]:
drug_prescription_merge = pd.merge(drug_names_combined_unique, prescription_drug_count, on='drug_name', how='left')
drug_prescription_merge.head()

                      drug_name           npi  total_claim_count
0                       ABSTRAL           NaN                NaN
1  ACETAMIN-CAFF-DIHYDROCODEINE  1.669734e+09               12.0
2  ACETAMIN-CAFF-DIHYDROCODEINE  1.841667e+09               11.0
3  ACETAMIN-CAFF-DIHYDROCODEINE  1.225125e+09               11.0
4         ACETAMINOPHEN-CODEINE  1.942530e+09               92.0

In [27]:
npi_count = drug_prescription_merge.drop(['drug_name'], axis = 1)
npi_count = npi_count.groupby('npi', as_index=False).sum()
npi_count.head()

            npi  total_claim_count
0  1.003013e+09              315.0
1  1.003014e+09               38.0
2  1.003031e+09               88.0
3  1.003035e+09              408.0
4  1.003042e+09              108.0

### Answer

In [63]:
prescriber_count = pd.merge(npi_count, prescriber_name, on='npi', how='left')
prescriber_count = prescriber_count.sort_values(by=['total_claim_count'], ascending=False)
prescriber_count.head()

,npi,total_claim_count,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials
10145,1.912012e+09,9342.0,COFFEY,DAVID,B,MD
10024,1.891915e+09,8405.0,KINDRICK,JUSTIN,None,N.P.
5029,1.447608e+09,7274.0,CATHERS,SHARON,None,NP-C
6083,1.538428e+09,5709.0,PAINTER,MICHELLE,L,NP
10698,1.962407e+09,5607.0,CLARK,RICHARD,G,MD

## Q4: Is there an association between rates of opioid prescriptions and overdose deaths by county?

### Opioid prescriptions by zip

In [29]:
prescriber_zip = prescriber[['npi', 'nppes_provider_zip5']]
prescriber_zip.head()

            npi nppes_provider_zip5
0  1.003000e+09               37243
1  1.003012e+09               37919
2  1.003013e+09               37043
3  1.003014e+09               37203
4  1.003018e+09               37916

In [30]:
drug_prescription_merge.head()

                      drug_name           npi  total_claim_count
0                       ABSTRAL           NaN                NaN
1  ACETAMIN-CAFF-DIHYDROCODEINE  1.669734e+09               12.0
2  ACETAMIN-CAFF-DIHYDROCODEINE  1.841667e+09               11.0
3  ACETAMIN-CAFF-DIHYDROCODEINE  1.225125e+09               11.0
4         ACETAMINOPHEN-CODEINE  1.942530e+09               92.0

In [31]:
opioid_prescription_zip = pd.merge(drug_prescription_merge, prescriber_zip, on='npi', how='left')
opioid_prescription_zip = opioid_prescription_zip[['total_claim_count', 'nppes_provider_zip5']]
opioid_prescription_zip = opioid_prescription_zip.groupby('nppes_provider_zip5', as_index=False).sum()
opioid_prescription_zip = opioid_prescription_zip.sort_values(by=['total_claim_count'], ascending=False)
opioid_prescription_zip.head()

    nppes_provider_zip5  total_claim_count
70                37203            83706.0
157               37660            67829.0
148               37604            66258.0
136               37404            63794.0
146               37421            53733.0

In [32]:
print(opioid_prescription_zip['total_claim_count'].sum())

2583188.0

### Overdose deaths by county

In [33]:
overdose_deaths.head()

   overdose_deaths  year  fipscounty
0              135  2015       47157
1              150  2016       47157
2              159  2017       47157
3              123  2018       47157
4              122  2015       47093

In [34]:
overdose_deaths['fipscounty'] = pd.to_numeric(overdose_deaths['fipscounty']).astype('str')
print(overdose_deaths['fipscounty'].dtype)

object

In [35]:
overdose_sum = overdose_deaths.drop(columns = ['year'], axis = 1)
overdose_sum = overdose_sum.groupby('fipscounty', as_index=False).sum()
overdose_sum.head()

  fipscounty  overdose_deaths
0      47001               96
1      47003               19
2      47005               11
3      47007                8
4      47009               99

### Zip code table

In [36]:
zip_fips.head()

     zip fipscounty  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  00501      36103   0.000000    1.00000   0.000000   1.000000
1  00601      72113   0.160724    0.20098   0.128834   0.162500
2  00601      72001   0.839276    0.79902   0.871166   0.837500
3  00602      72003   1.000000    0.99880   1.000000   0.999919
4  00602      72005   0.000000    0.00120   0.000000   0.000081

In [37]:
zip_fips['fipscounty'] = pd.to_numeric(zip_fips['fipscounty']).astype('str')
print(zip_fips['fipscounty'].dtype)

object

In [38]:
zip_fips_sorted = zip_fips.sort_values(by = ['zip', 'tot_ratio'], ascending = [True, False])
zip_fips_sorted.head()

     zip fipscounty  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  00501      36103   0.000000    1.00000   0.000000   1.000000
2  00601      72001   0.839276    0.79902   0.871166   0.837500
1  00601      72113   0.160724    0.20098   0.128834   0.162500
3  00602      72003   1.000000    0.99880   1.000000   0.999919
4  00602      72005   0.000000    0.00120   0.000000   0.000081

In [39]:
zip_fips_filtered = zip_fips_sorted.drop_duplicates(subset = ['zip'], keep = 'first')
zip_fips_filtered.head()

     zip fipscounty  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  00501      36103   0.000000    1.00000   0.000000   1.000000
2  00601      72001   0.839276    0.79902   0.871166   0.837500
3  00602      72003   1.000000    0.99880   1.000000   0.999919
5  00603      72005   0.997152    0.99816   1.000000   0.997290
8  00604      72005   1.000000    1.00000   1.000000   1.000000

In [40]:
zips_final = zip_fips_filtered[['zip', 'fipscounty']]
zips_final.head()

     zip fipscounty
0  00501      36103
2  00601      72001
3  00602      72003
5  00603      72005
8  00604      72005

### Prescription and Fips merge --> Opioid prescriptions by county

In [41]:
prescription_fips_join = pd.merge(opioid_prescription_zip, zips_final, left_on='nppes_provider_zip5', right_on='zip', how='inner')
prescription_fips = prescription_fips_join[['total_claim_count', 'fipscounty']]
prescription_fips = prescription_fips.groupby('fipscounty', as_index=False).sum()
prescription_fips.head()

  fipscounty  total_claim_count
0      13027               20.0
1      47001            34882.0
2      47003             8289.0
3      47005            10729.0
4      47007             3306.0

In [42]:
prescription_county = pd.merge(prescription_fips, fips_county, on='fipscounty', how='left')
prescription_county = prescription_county.drop(columns = ['state', 'fipsstate'], axis = 1)
prescription_county = prescription_county[['fipscounty', 'county', 'total_claim_count']]
prescription_county.head()

  fipscounty    county  total_claim_count
0      13027    BROOKS               20.0
1      47001  ANDERSON            34882.0
2      47003   BEDFORD             8289.0
3      47005    BENTON            10729.0
4      47007   BLEDSOE             3306.0

### Answer

In [43]:
opioid_overdose_county = pd.merge(overdose_sum, prescription_county, on='fipscounty', how='outer')
opioid_overdose_county.head()

  fipscounty  overdose_deaths    county  total_claim_count
0      13027              NaN    BROOKS               20.0
1      47001             96.0  ANDERSON            34882.0
2      47003             19.0   BEDFORD             8289.0
3      47005             11.0    BENTON            10729.0
4      47007              8.0   BLEDSOE             3306.0

In [44]:
opioid_overdose_county_tn = opioid_overdose_county[opioid_overdose_county['fipscounty'].str.startswith('47')]
opioid_overdose_county_tn_rate = opioid_overdose_county_tn.assign(percentage_deaths = round((opioid_overdose_county_tn['overdose_deaths'] / opioid_overdose_county_tn['total_claim_count']) * 100, 2))
opioid_overdose_county_tn_rate = opioid_overdose_county_tn_rate[['fipscounty', 'county', 'total_claim_count', 'overdose_deaths', 'percentage_deaths']]
opioid_overdose_county_tn_rate.head()

  fipscounty    county  total_claim_count  overdose_deaths  percentage_deaths
1      47001  ANDERSON            34882.0             96.0               0.28
2      47003   BEDFORD             8289.0             19.0               0.23
3      47005    BENTON            10729.0             11.0               0.10
4      47007   BLEDSOE             3306.0              8.0               0.24
5      47009    BLOUNT            27352.0             99.0               0.36

## Q5: Is there any association between a particular type of opioid and number of overdose deaths?

### Opioid drugs + claims by county

In [45]:
prescription_zip = pd.merge(drug_prescription_merge, prescriber_zip, on='npi', how='left')
prescription_zip.head()

,drug_name,npi,total_claim_count,nppes_provider_zip5
0,ABSTRAL,NaN,NaN,NaN
1,ACETAMIN-CAFF-DIHYDROCODEINE,1.669734e+09,12.0,38138
2,ACETAMIN-CAFF-DIHYDROCODEINE,1.841667e+09,11.0,37909
3,ACETAMIN-CAFF-DIHYDROCODEINE,1.225125e+09,11.0,37067
4,ACETAMINOPHEN-CODEINE,1.942530e+09,92.0,38134

In [46]:
opioid_drug_zip = prescription_zip.drop(columns = ['npi'], axis = 1)
opioid_drug_group = opioid_drug_zip.groupby(['drug_name', 'nppes_provider_zip5'], as_index=False).sum()
opioid_drug_group = opioid_drug_group[opioid_drug_group['total_claim_count'] > 0]
opioid_drug_group.head()

                      drug_name nppes_provider_zip5  total_claim_count
0  ACETAMIN-CAFF-DIHYDROCODEINE               37067               11.0
1  ACETAMIN-CAFF-DIHYDROCODEINE               37909               11.0
2  ACETAMIN-CAFF-DIHYDROCODEINE               38138               12.0
3         ACETAMINOPHEN-CODEINE               35870               12.0
4         ACETAMINOPHEN-CODEINE               37013               44.0

In [47]:
opioid_drug_county = pd.merge(opioid_drug_group, zips_final, left_on='nppes_provider_zip5', right_on='zip', how='left')
opioid_drug_county = opioid_drug_county.drop(columns = ['nppes_provider_zip5', 'zip'], axis = 1)
opioid_drug_county_summed = opioid_drug_county.groupby(['drug_name', 'fipscounty'], as_index=False).sum()
opioid_drug_county_summed.head()

                      drug_name fipscounty  total_claim_count
0  ACETAMIN-CAFF-DIHYDROCODEINE      47093               11.0
1  ACETAMIN-CAFF-DIHYDROCODEINE      47157               12.0
2  ACETAMIN-CAFF-DIHYDROCODEINE      47187               11.0
3         ACETAMINOPHEN-CODEINE      47001              668.0
4         ACETAMINOPHEN-CODEINE      47003               48.0

### Counties with highest number of overdose deaths

In [48]:
opioid_overdose_county_tn.head()

  fipscounty  overdose_deaths    county  total_claim_count
1      47001             96.0  ANDERSON            34882.0
2      47003             19.0   BEDFORD             8289.0
3      47005             11.0    BENTON            10729.0
4      47007              8.0   BLEDSOE             3306.0
5      47009             99.0    BLOUNT            27352.0

In [49]:
opioid_overdose_county_tn_ranked = opioid_overdose_county_tn.sort_values(by = ['total_claim_count'], ascending = [False])
opioid_overdose_county_tn_ranked.head()

   fipscounty  overdose_deaths    county  total_claim_count
19      47037            689.0  DAVIDSON           285499.0
47      47093            683.0      KNOX           242648.0
79      47157            567.0    SHELBY           234161.0
33      47065            191.0  HAMILTON           199980.0
82      47163            131.0  SULLIVAN           119350.0

### Top 5 county analysis for common opioids

In [50]:
opioid_drug_county_group_47037 = opioid_drug_county_summed[opioid_drug_county_summed['fipscounty'] == '47037'].sort_values(by=['total_claim_count'], ascending=False)
opioid_drug_county_group_47037.head(10)

                      drug_name fipscounty  total_claim_count
461   HYDROCODONE-ACETAMINOPHEN      47037           114954.0
1160    OXYCODONE-ACETAMINOPHEN      47037            54799.0
1026              OXYCODONE HCL      47037            35622.0
1430               TRAMADOL HCL      47037            34066.0
824         MORPHINE SULFATE ER      47037            18206.0
369                    FENTANYL      47037             8263.0
1253                  OXYCONTIN      47037             5479.0
752            MORPHINE SULFATE      47037             2419.0
21        ACETAMINOPHEN-CODEINE      47037             2206.0
692               METHADONE HCL      47037             1939.0

In [51]:
opioid_drug_county_group_47093 = opioid_drug_county_summed[opioid_drug_county_summed['fipscounty'] == '47093'].sort_values(by=['total_claim_count'], ascending=False)
opioid_drug_county_group_47093.head(10)

                      drug_name fipscounty  total_claim_count
489   HYDROCODONE-ACETAMINOPHEN      47093            83475.0
1053              OXYCODONE HCL      47093            43633.0
1188    OXYCODONE-ACETAMINOPHEN      47093            39089.0
1458               TRAMADOL HCL      47093            31814.0
852         MORPHINE SULFATE ER      47093            16892.0
396                    FENTANYL      47093             5120.0
1356         OXYMORPHONE HCL ER      47093             4888.0
980                    OPANA ER      47093             4592.0
1277                  OXYCONTIN      47093             4338.0
48        ACETAMINOPHEN-CODEINE      47093             2806.0

In [52]:
opioid_drug_county_group_47157 = opioid_drug_county_summed[opioid_drug_county_summed['fipscounty'] == '47157'].sort_values(by=['total_claim_count'], ascending=False)
opioid_drug_county_group_47157.head(10)

                      drug_name fipscounty  total_claim_count
521   HYDROCODONE-ACETAMINOPHEN      47157           106163.0
1220    OXYCODONE-ACETAMINOPHEN      47157            43253.0
1490               TRAMADOL HCL      47157            37761.0
1084              OXYCODONE HCL      47157            15335.0
879         MORPHINE SULFATE ER      47157             7319.0
77        ACETAMINOPHEN-CODEINE      47157             6864.0
426                    FENTANYL      47157             6009.0
728               METHADONE HCL      47157             3029.0
1302                  OXYCONTIN      47157             2804.0
795            MORPHINE SULFATE      47157             1307.0

In [53]:
opioid_drug_county_group_47065 = opioid_drug_county_summed[opioid_drug_county_summed['fipscounty'] == '47065'].sort_values(by=['total_claim_count'], ascending=False)
opioid_drug_county_group_47065.head(10)

                      drug_name fipscounty  total_claim_count
475   HYDROCODONE-ACETAMINOPHEN      47065            87047.0
1174    OXYCODONE-ACETAMINOPHEN      47065            37538.0
1444               TRAMADOL HCL      47065            29068.0
1040              OXYCODONE HCL      47065            16292.0
838         MORPHINE SULFATE ER      47065            11344.0
383                    FENTANYL      47065             4365.0
1266                  OXYCONTIN      47065             2933.0
609           HYDROMORPHONE HCL      47065             1925.0
700               METHADONE HCL      47065             1843.0
34        ACETAMINOPHEN-CODEINE      47065             1816.0

In [54]:
opioid_drug_county_group_47163 = opioid_drug_county_summed[opioid_drug_county_summed['fipscounty'] == '47163'].sort_values(by=['total_claim_count'], ascending=False)
opioid_drug_county_group_47163.head(10)

                      drug_name fipscounty  total_claim_count
524   HYDROCODONE-ACETAMINOPHEN      47163            49423.0
1223    OXYCODONE-ACETAMINOPHEN      47163            20939.0
1087              OXYCODONE HCL      47163            17133.0
1493               TRAMADOL HCL      47163            15584.0
881         MORPHINE SULFATE ER      47163             5047.0
429                    FENTANYL      47163             1910.0
1305                  OXYCONTIN      47163             1587.0
128           BUPRENORPHINE HCL      47163             1472.0
730               METHADONE HCL      47163             1129.0
636           HYDROMORPHONE HCL      47163              952.0

Drugs listed in all 5 counties: TRAMADOL HCL, OXYCODONE HCL, HYDROCODONE-ACETAMINOPHEN, OXYCODONE-ACETAMINOPHEN, FENTANYL, MORPHINE SULFATE ER, MORPHINE SULFATE <br>
Others not in all 5 counties - METHADONE HCL, OXYCONTIN, HYDROMORPHONE HCL, OXYMORPHONE HCL ER, OPANA ER, ACETAMINOPHEN-CODEINE

## Q1: Which TN counties had a disproportionately high number of opioid prescriptions?

In [55]:
opioid_overdose_county_tn_pop = pd.merge(opioid_overdose_county_tn_rate, population, on='fipscounty', how='left')
opioid_overdose_county_tn_pop.head()

,fipscounty,county,total_claim_count,overdose_deaths,percentage_deaths,population
0,47001,ANDERSON,34882.0,96.0,0.28,75538.0
1,47003,BEDFORD,8289.0,19.0,0.23,46854.0
2,47005,BENTON,10729.0,11.0,0.10,16154.0
3,47007,BLEDSOE,3306.0,8.0,0.24,14413.0
4,47009,BLOUNT,27352.0,99.0,0.36,127135.0

In [60]:
opioid_overdose_county_tn_pop['claim_per_population'] = opioid_overdose_county_tn_pop['total_claim_count']/opioid_overdose_county_tn_pop['population']
opioid_overdose_county_tn_pop = opioid_overdose_county_tn_pop.sort_values(by=['claim_per_population'], ascending=False)
opioid_overdose_county_tn_pop.head()

,fipscounty,county,total_claim_count,overdose_deaths,percentage_deaths,population,claim_per_population
75,47151,SCOTT,26295.0,8.0,0.03,21949.0,1.198004
13,47027,CLAY,6483.0,11.0,0.17,7684.0,0.843701
89,47179,WASHINGTON,104369.0,80.0,0.08,126437.0,0.825462
15,47031,COFFEE,43994.0,45.0,0.10,54074.0,0.813589
81,47163,SULLIVAN,119350.0,131.0,0.11,156519.0,0.762527

## Q3: What did the trend in overdose deaths due to opioids look like in Tennessee from 2015 to 2018?

In [57]:
overdose_deaths.head()

   overdose_deaths  year fipscounty
0              135  2015      47157
1              150  2016      47157
2              159  2017      47157
3              123  2018      47157
4              122  2015      47093

In [58]:
overdose_deaths['fipscounty'].unique()

array(['47157', '47093', '47037', '47149', '47189', '47187', '47163',
       '47125', '47065', '47185', '47183', '47181', '47179', '47177',
       '47173', '47171', '47167', '47165', '47159', '47155', '47153',
       '47151', '47147', '47145', '47143', '47141', '47139', '47133',
       '47131', '47129', '47123', '47109', '47107', '47119', '47117',
       '47115', '47113', '47111', '47105', '47103', '47099', '47091',
       '47089', '47087', '47085', '47083', '47081', '47077', '47073',
       '47071', '47067', '47063', '47059', '47057', '47055', '47053',
       '47051', '47049', '47047', '47043', '47041', '47039', '47035',
       '47031', '47029', '47027', '47025', '47023', '47021', '47019',
       '47015', '47013', '47011', '47009', '47005', '47003', '47001',
       '47175', '47169', '47161', '47137', '47135', '47127', '47121',
       '47101', '47097', '47095', '47079', '47075', '47069', '47061',
       '47045', '47033', '47017', '47007'], dtype=object)

In [59]:
overdose_deaths_by_year = overdose_deaths.drop(['fipscounty'], axis = 1)
overdose_deaths_by_year = overdose_deaths_by_year.groupby('year', as_index=False).sum()
overdose_deaths_by_year.head()

   year  overdose_deaths
0  2015             1033
1  2016             1186
2  2017             1267
3  2018             1304